<div id="<%= dom_id contact %>">
  <p>
    <strong>Name:</strong>
    <%= contact.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= contact.email %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= contact.message %>
  </p>

  <p>
    <strong>Homepage:</strong>
    <%= contact.homepage_id %>
  </p>

</div>
